@use 'sass:math';

@font-face {
  font-family: 'HeliosC';
  src: url('../../fonts/heliosc.woff2') format('woff2'),
       url('../../fonts/fonts/heliosc.woff') format('woff'),
       url('../../fonts/fonts/heliosc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin fluid-text($max: 48, $min: 16, $maxViewportWidth: 1920, $minViewportWidth: 320) {
  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'HeliosC', sans-serif;
}

.main {
  background-color: #020415;
  color: #fff;
  padding: 100px 64px;

  @media screen and (max-width: 1240px) {
    padding: 70px 20px;
  }

  @media screen and (max-width: 650px) {
    padding: 45px 10.5px;
  }

  &__wrapper {
    width: 100%;
    max-width: 1792px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    max-width: 55%;
    margin: 0 auto 40px;
    @include fluid-text(58, 28, 1920, 768);
    line-height: 100%;

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 720px) {
      max-width: 80%;
    }

    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }

  &__description {
    text-align: center;
    @include fluid-text(38, 16, 1920, 768);
    line-height: 100%;
    max-width: 35%;
    margin: 0 auto 40px;

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 720px) {
      max-width: 80%;
    }

    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;

  @media screen and (max-width: 650px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__item {
    &:nth-child(3n+1) {
      grid-column: 2;
    }

    &:nth-child(3n+2) {
      grid-column: 1;
    }

    &:nth-child(3n) {
      grid-column: 3;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 26px;
  width: 100%;
  max-width: 597px;
  height: 308px;
  background: #9E98FC33;
  border-radius: 16px;
  overflow: hidden;

  @media screen and (max-width: 1020px) {
    height: 174px;
    padding: 8px;
  }

  @media screen and (max-width: 650px) {
    max-width: none;
    height: 140px;
    // для современных браузеров я бы использовал gap в классе cards, но чтобы охватить и старые браузеры и Edge приходится использовать margin-bottom
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(226.75deg, rgba(255, 255, 255, 0.5) 29.1%, rgba(255, 255, 255, 0.08) 91.85%);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 48px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        &>.card {
          &__icon {
            color: #655bff;
          }
        }
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: #D9D9D9;
      opacity: 20%;
      z-index: 0;
    }

    @media screen and (max-width: 1020px) {
      min-width: 32px;
      height: 32px;
    }
    
    @media screen and (max-width: 768px) {
      min-width: 20px;
      height: 20px;
    }
  }

  &__icon {
    width: 26px;
    min-width: 26px;
    height: 26px;
    color: #fff;
    opacity: 1;
    transition: 0.5s;

    @media screen and (max-width: 1020px) {
      width: 20px;
      min-width: 20px;
      height: 20px;
    }

    @media screen and (max-width: 768px) {
      width: 10px;
      min-width: 10px;
      height: 10px;
    }
  }

  &__text {
    display: flex;
    align-items: end;
    height: 100%;
    @include fluid-text(24, 14, 1920, 768);
    line-height: 120%;
    // для современных браузеров я бы использовал gap в классе card, но чтобы охватить и старые браузеры и Edge приходится использовать margin-right
    margin-right: 32px;

    @media screen and (max-width: 1020px) {
      margin-right: 12px;
    }
  }
}
